<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
  
    <div class="sidebar-color " id="sidebar-wrapper">
      <a href="#" class="navbar-brand text-white d-block mx-auto text-center pt-3 ">LACUS</a>
      <span href="#"
        class="text-white d-block mx-auto text-center bottom-border pb-3 mb-4 "><%= name.charAt(0).toUpperCase() + name.slice(1) %></span>
  
      <div class="list-group list-group-flush">
        <li class="nav-item"><a href="/dashboard" class="nav-link text-white p-3 mb-2 ml-5 current"><i
              class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
        <li class="nav-item"><a href="/send" class="nav-link text-white p-3 mb-2 ml-5 sidebar-link"><i
              class="fas fa-plus text-light fa-lg mr-3"></i>Spedisci</a></li>
        <li class="nav-item"><a href="/deliver" class="nav-link text-white p-3 mb-2 ml-5 sidebar-link"><i
              class="fas fa-shipping-fast text-light fa-lg mr-3"></i>Consegna</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link text-white p-3 mb-2 ml-5 sidebar-link-logout"><i
              class="fas fa-sign-out-alt text-light fa-lg mr-3"></i>Logout</a></li>
  
      </div>
    </div>
  
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <nav class="navbar-color navbar navbar-expand-lg navbar-light">
        <button class="btn btn-menu text-light" id="menu-toggle">MENU</button>
  
      </nav>
  
      <!-- cards -->
      <div class="container-fluid">
        <div class="success-message" style="text-align: center;">
          <%- include ('./partials/messages') %>
        </div>
        <section>
          <div class="container-fluid pl-sm-4 pl-xs-4">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
                <div class="row pt-md-2 mt-md-2 mb-5">
                  <div class="col-xl-3 col-sm-6 p-2">
                    <div class="card card-common card-box-shadow">
                      <div class="card-body card-background card-top-radius">
                        <div class="d-flex justify-content-between">
                          <i class="fas fa-box-open fa-3x text-light"></i>
                          <div class="text-right text-light">
                            <h5>Inviate</h5>
                            <h3><%= shipmentsSend %></h3>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer card-text">
                        <i class="fas fa-sync mr-3"></i>
                        <span>Updated Now</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 p-2">
                    <div class="card card-common card-box-shadow">
                      <div class="card-body card-background card-top-radius">
                        <div class="d-flex justify-content-between">
                          <i class="fas fa-truck-loading fa-3x text-light"></i>
                          <div class="text-right text-light">
                            <h5>Ricevute</h5>
                            <h3><%= shipmentsReceived %></h3>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer card-text">
                        <i class="fas fa-sync mr-3"></i>
                        <span>Updated Now</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 p-2">
                    <div class="card card-common card-box-shadow">
                      <div class="card-body card-background card-top-radius">
                        <div class="d-flex justify-content-between">
                          <i class="fas fa-shipping-fast fa-3x text-light"></i>
                          <div class="text-right text-light">
                            <h5>Consegnate</h5>
                            <h3><%= shipmentsMade %></h3>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer card-text">
                        <i class="fas fa-sync mr-3"></i>
                        <span>Updated Now</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 p-2">
                    <div class="card card-common card-box-shadow">
                      <div class="card-body card-background card-top-radius">
                        <div class="d-flex justify-content-between">
                          <i class="fas fa-money-check-alt fa-3x text-light"></i>
                          <div class="text-right text-light">
                            <h5>Guadagno</h5>
                            <h3>€ <%= profit.toFixed(2) %></h3>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer card-text">
                        <i class="fas fa-sync mr-3"></i>
                        <span>Updated Now</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end of cards -->
        <!-- tables -->
        <section>
          <div class="tables-wrapper">
            <!--SENDER REQUEST TABLE-->
            <div class="row align-items-center">
              <div class="mb-3" style="width: 100%;">
                <h3 class="text-muted text-center card-title mb-3">Cronologia spedizione</h3>
                <div class="row">
                <% let counter = 0; %>
                <% deliveryLists.forEach(function(delivery) { %>
                <% if(delivery.idSender==idUser.toString() || delivery.idRecipient==idUser.toString() ){ %>
                <% counter++; %>
                    <div class="px-1 col-md-6 col-sm-12">
                      <div class="delivery-card">
                          <div class="delivery-card-box text-white">
                              <div class="row mt-2 ml-2">
                                <input type="hidden" name="nameRecipient" id="nameRecipient" value="<%= delivery.nameRecipient%>" />
                                <input type="hidden" name="surnameRecipient" id="surnameRecipient" value="<%= delivery.surnameRecipient%>" />
                                <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Destinatario</strong> <%= delivery.nameRecipient.charAt(0).toUpperCase() + delivery.nameRecipient.slice(1) + " " +delivery.surnameRecipient.charAt(0).toUpperCase() + delivery.surnameRecipient.slice(1)%>
                              </div>
                              <div class="row mt-2 ml-2">
                                <input type="hidden" name="start" id="start" value="<%= delivery.startPlace %>" />
                                <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Partenza</strong> <%= delivery.startPlace%>
                              </div>
                              <div class="row mt-2 ml-2">
                                <input type="hidden" name="end" id="end" value="<%= delivery.endPlace %>" />
                                <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Arrivo</strong> <%= delivery.endPlace   %>
                              </div>
                              <div class="row mt-2 ml-2">
                                <input type="hidden" name="date" id="date" value="<%= delivery.date %>" /><strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Data ritiro</strong> <%= delivery.date %>
                              </div>
                              <div class="row mt-2 ml-2">
                                <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Status</strong> <%= delivery.status %>
                              </div>
                          </div>
                        </div>
                    </div>
                    <% }}); %>
                    <% if(counter==0){  %>
                      <div class="col-12">
                        <div class="alert alert-warning align-items-center" role="alert" style="text-align: center;">
                          <span>Non hai alcuna spedizione nella cronologia.</span>
                        </div>
                      </div>
                    <% } %>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="mb-3" style="width: 100%;">
                <h3 class="text-muted text-center mb-3 card-title">Richieste di spedizioni</h3>
                <div class="row">
                  <% let counter2 = 0; %>
                  <% deliveryLists.forEach(function(delivery) { %>
                  <% if(delivery.idRecipient==idUser.toString() && delivery.status == 'Creata'){ %>
                  <% counter2++; %>
                    <div class="px-1 col-md-6 col-sm-12">
                      <div class="delivery-card">
                      <div class="delivery-card-box text-white">
                        <form method="POST">
                          <input type="hidden" name="deliveryCode" id="deliveryCode" value="<%= delivery._id%>" /> 
                        <div class="row mt-2 ml-2">
                          <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Mittente</strong> <%= delivery.nameSender.charAt(0).toUpperCase() + delivery.nameSender.slice(1) + " " +delivery.surnameRecipient.charAt(0).toUpperCase() + delivery.surnameRecipient.slice(1)%>
                        </div>
                        <div class="row mt-2 ml-2">
                          <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Partenza</strong> <%= delivery.startPlace%>
                        </div>
                        <div class="row mt-2 ml-2">
                          <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Arrivo</strong> <%= delivery.endPlace%>
                        </div>
                        <div class="row mt-2 ml-2">
                          <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Data ritiro</strong> <%= delivery.date%>
                        </div>
                        <div class="row mt-2 ml-2">
                          <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Accetta / Rifiuta</strong>
                          <div class="mt-2" style="display: flex; justify-content: center;">
                            <button type="submit" formaction="/accetta"><i
                              class="fas fa-check fa-lg mr-2" style="color: white;"></i></button>
                          <button type="submit" formaction="/rifiuta"><i class="fas fa-trash fa-lg"
                              style="color:#adb5bd;"></i></button>
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <%  }}); %>
                  <% if(counter2==0){  %>
                    <div class="col-12">
                      <div class="alert alert-warning" role="alert" style="text-align: center;">
                        <span>Non hai nessuna richiesta di spedizione!</span>
                      </div>
                    </div>
                  <% } %>
                  
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="mb-3" style="width: 100%;">
                <h3 class="text-muted text-center mb-3 card-title">Spedizioni accettate dal corriere</h3>
                <div class="row">
                <% let counter3 = 0; %>
                <% deliveryLists.forEach(function(delivery) { %>
                <% if(delivery.idRecipient==idUser.toString() && delivery.status == 'Accettata dal corriere'){ %>
                <% counter3++; %>
                  <div class="px-1 col-md-6 col-sm-12">
                    <form method="POST">
                      <input type="hidden" name="deliveryCode" id="deliveryCode" value="<%= delivery._id%>" />
                      <div class="delivery-card">
                        <div class="delivery-card-box text-white">
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Mittente</strong> <%= delivery.nameSender.charAt(0).toUpperCase() + delivery.nameSender.slice(1) + " " +delivery.surnameSender.charAt(0).toUpperCase() + delivery.surnameSender.slice(1)%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Partenza</strong> <%= delivery.startPlace%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Arrivo</strong> <%= delivery.endPlace%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Arrivo Previsto</strong> <%= delivery.arrivoPrevisto%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Accetta / Rifiuta</strong>
                            <div class="mt-2" style="display: flex; justify-content: center;">
                              <button type="submit" formaction="/confirmExpectedArrival"><i
                                class="fas fa-check fa-lg mr-2" style="color: white;"></i></button>
                            <button type="submit" formaction="/deniedExpectedArrival"><i class="fas fa-trash fa-lg"
                                style="color:#adb5bd;"></i></button>
                            </div>
                            </div>
                        </div>
                      </div>
                    </form> 
                  </div>
                  <%  }}); %>
                  <% if(counter3==0){  %>
                    <div class="col-12">
                      <div class="alert alert-warning" role="alert" style="text-align: center;">
                        <span>Non hai alcuna spedizione accettata dal corriere!</span>
                      </div>
                    </div>             
                  <% } %>
                  </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="mb-3" style="width: 100%;">
                <h3 class="text-muted text-center mb-3 card-title">Spedizioni che stai per ricevere</h3>
                <div class="row">
                <% let counter4 = 0; %>
                  <% deliveryLists.forEach(function(delivery) { %>
                  <% if(delivery.idRecipient==idUser.toString() && delivery.status == 'Ritirata'){ %>
                  <% counter4++; %>
                  <div class="px-1 col-md-6 col-sm-12">
                    <form method="POST">
                      <input type="hidden" name="deliveryCode" id="deliveryCode" value="<%= delivery._id%>" />
                      <div class="delivery-card">
                        <div class="delivery-card-box text-white">
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Mittente</strong> <%= delivery.nameSender.charAt(0).toUpperCase() + delivery.nameSender.slice(1) + " " +delivery.surnameSender.charAt(0).toUpperCase() + delivery.surnameSender.slice(1)%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Partenza</strong> <%= delivery.startPlace%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Arrivo</strong> <%= delivery.endPlace%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <input type="hidden" name="expectedArrival" id="expectedArrival" value="<%= delivery.arrivoPrevisto%>" />
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Data arrivo</strong> <%= delivery.arrivoPrevisto%>
                          </div>
                          <div class="row mt-2 ml-2">
                            <strong class="form__field pac-target-input" style="width: 92%; letter-spacing: 2px;">Conferma / Reclama</strong>
                            <div class="mt-2" style="display: flex; justify-content: center;">
                              <button type="submit" formaction="/confirmArrival"><i
                                class="fas fa-check fa-lg mr-2" style="color: white;"></i></button>
                            <button type="submit" formaction="/notArrival"><i class="fas fa-trash fa-lg"
                                style="color:#adb5bd;"></i></button>
                            </div>
                        </div>
                        </div>
                      </div>
                    </form>
                </div>
                  <%  }}); %>
                  <% if(counter4==0){  %>
                    <div class="col-12">
                      <div class="alert alert-warning" role="alert" style="text-align: center;">
                        <span>Non hai nessuna richiesta di spedizione!</span>
                      </div>
                    </div>                 
                  <% } %>
                  </div>
              </div>
            </div>

          </div>
        </section>
        <!-- end of tables -->
      </div>
    </div>
  
    <!-- /#page-content-wrapper -->
  
  </div>
  <!-- /#wrapper -->
  
  
  
  
  
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>