<div class="d-flex" id="wrapper">

  <!-- Sidebar -->

  <div class="sidebar-color " id="sidebar-wrapper">
    <a href="#" class="navbar-brand text-white d-block mx-auto text-center pt-3 ">LACUS</a>
    <span href="#"class="text-white d-block mx-auto text-center bottom-border pb-3 mb-4 "><%= nameUser.charAt(0).toUpperCase() + nameUser.slice(1) %></span>
    <div class="list-group list-group-flush">
      <li class="nav-item"><a href="/dashboard" class="nav-link text-white p-3 mb-2 ml-5 sidebar-link"><i
            class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
      <li class="nav-item"><a href="/send" class="nav-link text-white p-3 mb-2 ml-5 current"><i
            class="fas fa-plus text-light fa-lg mr-3"></i>Spedisci</a></li>
      <li class="nav-item"><a href="/deliver" class="nav-link text-white p-3 mb-2 ml-5 sidebar-link"><i
            class="fas fa-shipping-fast text-light fa-lg mr-3"></i>Consegna</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link text-white p-3 mb-2 ml-5 sidebar-link-logout"><i
            class="fas fa-sign-out-alt text-light fa-lg mr-3"></i>Logout</a></li>

    </div>
  </div>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar-color navbar navbar-expand-lg navbar-light">
      <button class="btn btn-menu text-light" id="menu-toggle">MENU</button>
    </nav>


    <div class="container-fluid">
      <form name="spedisci" action="/send" method="POST" onsubmit="return checkFields()">
        <div class="input-shape p-5" style="margin-top: 30px;">
          <div class="row">
            <h4 class="input-shape-section-title">Ritiro e consegna</h4>
            <div class="col-md-6">
              <div class="form__group field">
                <input class="form__field" placeholder="Via Partenza" name="start" id="start" type="text" value="<%= typeof start != 'undefined' ? start : '' %>" required/>
                <label for="start" class="form__label">Via Partenza</label>
                <input type="hidden" id="start_loc_lat" name="start_loc_lat" value="<%= typeof start_loc_lat != 'undefined' ? start_loc_lat : '' %>" />
                <input type="hidden" id="start_loc_long" name="start_loc_long" value="<%= typeof start_loc_long != 'undefined' ? start_loc_long : '' %>" />
              </div>
              
            </div>
            <div class="col-md-6">
              <div class="form__group field">
                <input class="form__field" placeholder="Via Arrivo" name="end" id="end" type="text" value="<%= typeof end != 'undefined' ? end : '' %>" required/>
                <label for="end" class="form__label">Via Arrivo</label>
                <input type="hidden" id="end_loc_lat" name="end_loc_lat" value="<%= typeof end_loc_lat != 'undefined' ? end_loc_lat : '' %>"/>
                <input type="hidden" id="end_loc_long" name="end_loc_long" value="<%= typeof end_loc_long != 'undefined' ? end_loc_long : '' %>" />
                <input type="hidden" id="distance" name="distance" value="<%= typeof distance != 'undefined' ? distance : '' %>"/>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-5">
              <h4 class="input-shape-section-title">Dati destinatario</h4>
              <div class="row">
                  <div class="form__group field" style="padding-left: 15px;
                  padding-right: 15px;">
                    <input type="input" class="form__field" placeholder="Name" name="name" id='name'
                    value="<%= typeof name != 'undefined' ? name : '' %>" required />
                    <label for="name" class="form__label">Name</label>
                </div>
              </div>
              <div class="row">
                  <div class="form__group field" style="padding-left: 15px;
                  padding-right: 15px;">
                    <input type="input" class="form__field" placeholder="Cognome" name="surname" id='surname'
                      value="<%= typeof surname != 'undefined' ? surname : '' %>" required />
                    <label for="surname" class="form__label">Cognome</label>
                </div>
              </div>
              <div class="row">
                <div class="form__group field" style="padding-left: 15px;
                padding-right: 15px;">
                  <input type="input" class="form__field" placeholder="Email" name="email" id='email'
                    value="<%= typeof email != 'undefined' ? email : '' %>" required />
                  <label for="email" class="form__label">Email</label>
              </div>
            </div>
            </div>
            <div class="col-md-6 mt-5">
              <h4 class="input-shape-section-title">Data ritiro</h4>
              <div class="row">
                <div class="form__group field" style="padding-left: 15px;
                padding-right: 15px;">
                <input type="date" class="form__field" placeholder="GG/MM/AA" name="date" id='date'
                  value="<%= typeof date != 'undefined' ? date : '' %>" required />
                <label for="date" class="form__label">GG/MM/AAAA</label>
              </div>
            </div>
          </div>
          </div>
          <div class="row mt-5">
            <h4 class="input-shape-section-title">Dimensione oggetto</h4>
            <div class="col-4">
              <div class="form__group field">
                <input type="number" class="form__field" placeholder="Altezza" name="height" id='height'
                  value="<%= typeof height != 'undefined' ? height : '' %>" required />
                <label for="height" class="form__label">Altezza (cm)</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form__group field">
                <input type="number" class="form__field" placeholder="Larghezza" name="width" id='width'
                  value="<%= typeof width != 'undefined' ? width : '' %>" required />
                <label for="width" class="form__label">Larghezza (cm)</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form__group field">
                <input type="number" class="form__field" placeholder="Profondità" name="depth" id='depth'
                  value="<%= typeof depth != 'undefined' ? depth : '' %>" required />
                <label for="depth" class="form__label">Profondità (cm)</label>
              </div>
            </div>
          </div>
          <div class="row my-5">
            <h4 class="input-shape-section-title">Tipologia oggetto</h4>
            <div class="col">
              <div class="form__group field">
                <input type="text" class="form__field" placeholder="Tipologia" name="type" id='type'
                  value="<%= typeof type != 'undefined' ? type : '' %>" required />
                <label for="type" class="form__label">Tipologia</label>
              </div>
            </div>
          </div>

          <!-- NODEJS ERRORS -->
          <div>
            <%- include ('./partials/messages') %>
          </div>

          <!--JS INPUT FILED ERRORS-->
          <div class="warning-msg" id="msg-warning" style="display: none;">
            <div class="alert alert-warning   alert-dismissible fade show" role="alert">
              <p id="alert-msg"></p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
          </div>          
          <div class="spedisci-btn-wrapper">
            <button type="submit" class="btn spedisci-btn text-light" id="spedisci-btn">CALCOLA PREZZO</button> 
          </div>
          <script>            
            var start = 'start';
            var end = 'end';
            $(document).ready(function () {
                var autocomplete1;
                autocomplete1 = new google.maps.places.Autocomplete((document.getElementById(start)), {
                    types: ['geocode'],
                    componentRestrictions: {country: 'it'}
                });              
                google.maps.event.addListener(autocomplete1, 'place_changed', function () {
                    var near_place1 = autocomplete1.getPlace();
                    document.getElementById('start_loc_lat').value = near_place1.geometry.location.lat();
                    document.getElementById('start_loc_long').value = near_place1.geometry.location.lng();
                });
                var autocomplete2;
                autocomplete2 = new google.maps.places.Autocomplete((document.getElementById(end)), {
                    types: ['geocode'],
                    componentRestrictions: {country: 'it'}
                });
              
                google.maps.event.addListener(autocomplete2, 'place_changed', function () {
                    var near_place2 = autocomplete2.getPlace();
                    document.getElementById('end_loc_lat').value = near_place2.geometry.location.lat();
                    document.getElementById('end_loc_long').value = near_place2.geometry.location.lng();
                    calculateDistance();
                });
            });

            function checkFields(){
              let errors = [];
              var start = document.forms["spedisci"]["start"].value;
              var end = document.forms["spedisci"]["end"].value;
              var name = document.forms["spedisci"]["name"].value;
              var surname = document.forms["spedisci"]["surname"].value;
              var date = document.forms["spedisci"]["date"].value;
              var height = document.forms["spedisci"]["height"].value;
              var width = document.forms["spedisci"]["width"].value;
              var depth = document.forms["spedisci"]["depth"].value;
              console.log(placeValidation(start));
              console.log(placeValidation(end));
              if(placeValidation(start)){
                if(placeValidation(end)){
                  if(end!=start){
                    if(userValidation(name,surname)){
                      if(dateValidation(date)){
                        if(packDimValidation(height,width,depth)){
                          return true;
                        }else {
                          alert("La dimensione non può essere nulla");
                          return false;
                        }
                      }else {
                        alert("Data non valita");
                      return false;}
                    }else {
                      alert("Nome utente nel formato errato");
                    return false;
                  }
                  }else {
                    alert("La partenza e l'arrivo sono uguali");
                  return false;
                }
                }else {
                  alert("Il luogo di arrivo non è nel formato giusto. Il campo deve contenere la via e il numero civivo. Utilizzare l'autocompletamento.");
              return false;
            }
              }else {
                alert("Il luogo di partenza non è nel formato giusto. Il campo deve contenere la via e il numero civivo. Utilizzare l'autocompletamento."); 
              return false;
                         }
            }

            /*The distance are calculated only if all fields are valid*/
            function calculateDistance(){
              //Distance canculation only if the places are not empty
              var start_loc_lat =  document.getElementById("start_loc_lat").value;
              var start_loc_long =  document.getElementById("start_loc_long").value;

              var end_loc_lat =  document.getElementById("end_loc_lat").value;
              var end_loc_long =  document.getElementById("end_loc_long").value;
              
              var bounds = new google.maps.LatLngBounds;
              var markersArray = [];
              var origin = new google.maps.LatLng(start_loc_lat, start_loc_long);
              var destination = new google.maps.LatLng(end_loc_lat, end_loc_long);
              var geocoder = new google.maps.Geocoder;
              var service = new google.maps.DistanceMatrixService;
              service.getDistanceMatrix({
                origins: [origin],
                destinations: [destination],
                travelMode: 'DRIVING',
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
              }, 
              //Call back
              function(response, status) {
                    if (status !== 'OK') {
                      alert('Error was: ' + status);
                    } else {
                        var distance;
                        distance = Math.trunc(response.rows[0].elements[0].distance.value/1000);
                        document.getElementById("distance").value = distance;
                     }
                    });
              }
                  
            </script>  
        </div>
      </form>
    </div>
  </div>
</div>

<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  
  

</script>